#myCanvas{
    background: white;
    display: block;
    position: relative;
    left: calc(calc(100vw - min(80vw, 80vh)) / 2);  /*Dinamically change position to remain at the center*/
}

body {
    margin:10;
}
